@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 31% 6%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    color: #fce7e7;
    text-transform: uppercase;
  }
  p {
    @apply text-foreground;
  }
}

.sidebar {
  background-color: #742323;
}

.sidebar-icon {
  color: #f7d7d7;
}

.sidebar-icon-highlighted {
  color: #fce79c;
}

.tag-frontend {
  background-color: #d8c8ec;
  color: #9025aa;
}

.tag-backend {
  background-color: #b9eeff;
  color: #3498d0;
}

.tag-api {
  background-color: #ffc0cb;
  color: #aa117f;
}

.tag-database {
  background-color: #ffbb6c;
  color: #df590e;
}

.tag-testing {
  background-color: #a6ffa4;
  color: #0d6e05;
}

.tag-uiux {
  background-color: #faef90;
  color: #b58200;
}

.tag-framework {
  background-color: #ffa5a5;
  color: #d00000;
}

textarea {
  resize: none; /* Prevent resizing of the textarea */
  overflow: hidden; /* Ensure the height remains consistent */
}

.kanban-board {
  background: linear-gradient(
    to bottom,
    rgba(89, 21, 21, 0.65),
    rgba(191, 45, 45, 0.75)
  );
}
